@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@{ string message = @"This is what I want to say:""Hi, my friend""";}
<h4>@message</h4>
<p>Use this area to provide additional information.</p>
